@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
P {
  font-size: 16px;
}
h6 {
  font-size: 20px;
}
h5 {
  font-size: 30px;
}
h4 {
  font-size: 40px;
}
h3 {
  font-size: 50px;
}
h2 {
  font-size: 55px;
}
h1 {
  font-weight: 500;
  font-size: 61px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.wrap {
  /* border: 5px black solid; */
  width: 100%;
  max-width: 1440px;
}
.Home {
  /* border: 1px solid black; */
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.Home ul {
  display: flex;
  list-style: none;
  gap: 90px;
}

.Home ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #1b3c53;
}

.logo {
  width: 80px;
}

.body {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.perkenalan h1 {
  font-family: "Poppins", sans-serif;
  color: #1b3c53;
}
.perkenalan button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  color: #e3e3e3;
  background-color: #1b3c53;
}

.perkenalan {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* sejajar kiri */
  gap: 20px;
}

.Gambar {
  width: 400px;
}

.social {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social img {
  /* border: 1px solid black; */
  width: 40px;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.social img:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.about {
  /* border: 1px solid red; */
  width: 100%;
  padding: 50px 0;
}

.title {
  /* border: 1px solid blue; */
  color: #1b3c53;
  padding: 50px;
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

.about-content {
  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.about-content img {
  /* border: 1px solid green; */
  width: 320px;
  border-radius: 16px;
}

.about-info {
  /* border: 1px solid purple; */
  font-family: "Poppins", sans-serif;
  width: 500px;
}

.about-skill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

.about-skill img {
  border: 1px solid black;
  width: 110px;
}

.project {
  /* border: 1px solid black; */
  width: 100%;
  padding: 50px 0;
}

.project-title {
  color: #1b3c53;
  padding: 30px;
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 90%;
  margin: auto;
}

.project-content a {
  background: #1b3c53;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border: 1px solid #ddd;
}

.project-content a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.project-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.contact {
  width: 100%;
  padding: 50px 0;
}

.contact-title {
  color: #1b3c53;
  padding: 50px;
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

.contact-content p {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 500px;
  font-size: 30px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px;
  width: 30%;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  font-size: 15px;
  padding: 5px 10px;
}

.form textarea {
  font-size: 15px;
  padding: 5px 10px;
  height: 200px;
}

.footer {
  /* border: 1px solid black; */
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer a {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  display: flex;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.footer a:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.footer a img {
  width: 100%;
}

.footer-sosmed {
  display: flex;
}

.footer-logo {
  width: 50px;
}

.footer p {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 20px;
}

@media (max-width: 1440px) {
  .wrap {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .about-content {
  }
}
