@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
P {
  font-size: 16px;
}
h6 {
  font-size: 20px;
}
h5 {
  font-size: 30px;
}
h4 {
  font-size: 40px;
}
h3 {
  font-size: 50px;
}
h2 {
  font-size: 55px;
}
h1 {
  font-weight: 500;
  font-size: 61px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.wrap {
  /* border: 5px black solid; */
  width: 1440px;
}
.Home {
  /* border: 1px solid black; */
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.Home ul {
  display: flex;
  list-style: none;
  gap: 90px;
}

.Home ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #1b3c53;
}

.logo {
  width: 80px;
}

.body {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.perkenalan h1 {
  font-family: "Poppins", sans-serif;
  color: #1b3c53;
}
.perkenalan button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  color: #e3e3e3;
  background-color: #1b3c53;
}

.perkenalan {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* sejajar kiri */
  gap: 20px;
}

.Gambar {
  width: 400px;
}

.social {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social img {
  /* border: 1px solid black; */
  width: 40px;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.social img:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.about {
  /* border: 1px solid black; */
  width: 100%;
  padding: 50px 0;
}

.about-title {
  /* border: 1px solid black; */
  padding: 50px;
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

.about-content {
  /* border: 1px solid black; */
  display: flex;
  max-width: 700px;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.about-content img {
  width: 320px;
  border-radius: 16px;
  margin-top: -40px;
  margin-left: 100px;
}

.about-info {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin-left: 680px; /* geser ke kanan gambar */
  margin-top: -300px; /* naik sejajar dengan gambar */
  width: 500px;
}

.about-skill {
  margin-top: 140px;
}
